<div>
    <!-- textList.text is passed to OpenAI, textList.response is returned from OpenAI -->
    <div class="card aiPromptCard" *ngFor="let data of textList"> 
       
        <div class="card-header">
            <div class="input-group mb-3"> 
                <input name="thePrompt" type="text" class="form-control" [(ngModel)]="data.text" value={{promptString}}>
            </div>
        </div>
        
        <div class="card-body">
            <p class="ai-response-text card-text">Response: {{data.response}}</p>
        </div>
    
    </div>
   
    <app-text-to-speech [responseString]="responseString"></app-text-to-speech>
</div>