<div class="voice-recon-wrapper">

    <button [disabled]="isStartButtonDisabled" style="margin: 10px;" (click)="startService()">Start Chat Session <mat-icon>record_voice_over</mat-icon></button>
    <button [disabled]="isStopButtonDisabled" style="margin: 10px;" (click)="stopSession()">End Chat Session <mat-icon>voice_over_off</mat-icon></button>
    
    <div class="alert {{statusClass}}" role="alert">
        {{statusMessage}} <mat-icon>{{statusIcon}}</mat-icon>
    </div>
    
    <app-character></app-character>
    
    <app-open-ai-chat [promptString]="promptString" [responseString]="responseString"></app-open-ai-chat>

</div>